.wrap {
    background-color:#fff; 
    width: 100%;
    height: auto;
  }
  .con {
    width: 80%;
    margin: 0 auto;
    /* color: #006699; */
    /* font-weight: 600; */
  }
  
  /* 标题 */
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    padding-top: 25px;
  }
  
  .title h2,
  .el-breadcrumb__inner,
  .el-breadcrumb__separator {
    font-size: 28px;
  }
  
  .title h2 span {
    color: #006699;
  }
  
  .pagesNav {
    display: flex;
    color: #585858;
    font-size: 26px;
    font-weight: 700;
  }
  
  .pagesNav a {
    color: #585858;
    padding: 0 10px;
  }
  
  /* 操作 */
  .operation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .operation h2 {
    font-size: 25px;
  }
  
  /* 分页 */
  .el-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .el-breadcrumb,
  .el-breadcrumb__item {
    display: flex;
    align-content: center;
    line-height: 40px;
  }
  
  /* 面包屑 */
  .breadCrumbNav,
  .optionsBar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 18px;
  }